@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 48pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 12pt;
}

.primary-text-colour {
    color: #BE93D4;
}

.primary-background-colour {
    background-color: #BE93D4;
}

.purple-button {
    @apply flex
    items-center
    justify-center
    bg-purple-300
    shadow
    rounded-full
}

.center-items {
    @apply flex
    items-center
    justify-center
}

.nav-center-items {
    @apply flex
    items-center
    justify-between

}