.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72%;
    margin: 10px 200px;
    font-family: sans-serif;
    background-color: rgba(236, 236, 236, 0.14);
    padding: 15px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
    border: 1px solid gray;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 10%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
    width: 15%;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.last-cell{
    border-right: none;
}