.primary-text-colour {
    color: #BE93D4;
}

.primary-background-colour{
    background-color: #BE93D4;

}

.purple-button {
    @apply flex
    items-center
    justify-center
    bg-purple-300
    shadow
    rounded-full
    py-3
    px-14
}

.center-items {
    @apply flex
    items-center
    justify-center
}

.nav-center-items {
    @apply flex
    items-center
    justify-between
}

.title{
    text-shadow: 0 0 5px black;
    @apply text-xl
    font-bold
    text-purple-300
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
    @apply bg-purple-500
}