.primary-text-colour {
    color: #BE93D4;
}

.primary-background-colour{
    background-color: #BE93D4;

}

.purple-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 180, 254);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 9999px;
}

.center-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}